<!-- /.page-top -->
  <section id="top-contact" class="top-contact">
   <div class="container">
    <div class="row">
     <div class="col-sm-8 pull-left">
      <ul class="contact-list">
       <li>
        <a class="site-name" href="{{ path( 'sinam_core_homepage' ) }}">Inicio</a>
       </li>
       <li>
        <a class="site-name" href="http://www.salud.gob.sv/" target="_new">Ministerio de Salud</a>
       </li>
       <li>
        <a class="site-name" href="http://www.salud.gob.sv/category/novedades/noticias/ciudadanosas/" target="_new">Noticias</a>
       </li>
       <li>
        <a class="site-name" href="http://www.salud.gob.sv/denuncias/" target="_new">Denuncias</a>
       </li>
      </ul>
     </div>
     <div class="col-sm-4 pull-right">
      <div class="top-social">
       <ul>
        <li>
         <a href="http://www.facebook.com/salud.sv" class="top-icon fa fa-facebook"></a>
        </li>
        <li>
         <a href="https://www.flickr.com/photos/minsal_sv/" class="top-icon fa fa-flickr"></a>
        </li>
        <li>
         <a href="http://twitter.com/minsalud" class="top-icon fa fa-twitter"></a>
        </li>
        <li>
         <a href="http://www.youtube.com/comunicacionesminsal" class="top-icon fa fa-youtube"></a>
        </li>
        <li>
         <a href="http://publica.gobiernoabierto.gob.sv/institutions/ministerio-de-salud">
          <img src="{{ asset('images/portal-transparencia.png') }}" alt="Site Logo">
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div><!-- /.row -->
   </div><!-- /.container -->
  </section><!-- /#top-contact -->
  
  <section id="site-banner" class="site-banner text-center">
   <div class="container"><a href=""><img src="{{ asset('images/banner_web_wpminsal2015V2.png') }}" alt=""></a><!--
    <div class="site-logo"></div><!-- /.site-logo -->
   </div><!-- /.container -->
  </section><!-- /#site-banner -->
  
  <header id="main-menu" class="main-menu">
   <div class="container">
    <div class="row">
     <div class="col-sm-8">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <i class="fa fa-bars"></i>
       </button>
       <div class="menu-logo">
        <a href="./"><img src="{{ asset('images/banner_web_wpminsal2015V2.png') }}" alt=""></a>
       </div><!-- /.menu-logo -->
      </div>
      <nav id="menu" class="menu collapse navbar-collapse">
       <ul id="headernavigation" class="menu-list nav navbar-nav">
        {% if app.request.attributes.get('_route') == 'sinam_busqueda' %}
        	<li data-step="2" data-intro="Al dar clic en esta seccion usted podra encontrar informacion de: <ol><li>nombre largo del medicamento consultado.</li><li>Forma farmaceutica</li><li>Presentacion</li><li>Existencias en almacen y <li>Existencias en farmacias</li></ol>"><a href="{{ path( 'sinam_busqueda' ) }}">Medicamentos</a></li>
        {% else %}
        	<li><a href="{{ path( 'sinam_busqueda' ) }}">Medicamentos</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') == 'por_establecimiento' %}
        	<li data-step="2" data-intro="Al dar clic en esta seccion usted podra encontrar la ubicacion mas cercana de los establecimientos donde hay existencias del medicamento consultado, los resultados de la busqueda poseen: <ol><li>Ubicacion de los establecimientos</li><li>nombre largo del medicamento consultado.</li><li>Forma farmaceutica</li><li>Presentacion</li><li>Existencias en almacen y <li>Existencias en farmacias</li></ol>"><a href="{{ path( 'por_establecimiento' ) }}">Establecimientos</a></li>
        {% else %}
        	<li><a href="{{ path( 'por_establecimiento' ) }}">Establecimientos</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') == 'consulta_abastecimiento' %}
        	 <li data-step="2" data-intro="Al dar clic en esta seccion usted podra encontrar el porcentaje de abastecimiento de un establecimiento para el medicamento consultado, tambien obtendra: <ol><li>Ubicacion de los establecimientos</li><li>nombre largo del medicamento consultado.</li><li>Forma farmaceutica</li><li>Presentacion</li><li>Existencias en almacen y <li>Existencias en farmacias</li></ol>"><a href="{{ path( 'consulta_abastecimiento' ) }}">Abastecimiento</a></li>
        {% else %}
        	 <li><a href="{{ path( 'consulta_abastecimiento' ) }}">Abastecimiento</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') == 'sinam_busqueda' or app.request.attributes.get('_route') == 'por_establecimiento' or app.request.attributes.get('_route') == 'consulta_abastecimiento' %}
          <li><a onclick="javascript:introJs().setOptions({ 'skipLabel': 'Saltar', 'nextLabel': 'Siguiente', 'prevLabel': 'Anterior', 'doneLabel': 'Finalizar'}).start();" href='javascript:void(0);'>Ayuda</a></li>
        {% endif %}
        <li><a href="{{ path( 'info_contacto' ) }}">Contáctenos</a></li>        
       </ul><!-- /.menu-list -->
      </nav><!-- /.menu-list -->
     </div>
     <div class="col-sm-4">
      <div class="menu-search pull-right" data-step="1" data-intro="En este cuadro se puede buscar el medicamento a consultar.<br/>El medicamento se busca a nivel nacional">
       <form role="search" class="search-form" action="{{ path( 'info_ayuda' ) }}" method="get">
        <input class="search-field" type="text" name="q" id="s" placeholder="Buscar Medicamento" required>
        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
       </form><!-- /.search-form -->
      </div><!-- /.menu-search -->
     </div>
    </div><!-- /.row -->
   </div><!-- /.container -->
  </header><!-- /#main-menu -->
{% block js_head %}
  <style>
  .ui-autocomplete {
    max-height: 400px;
    max-width: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  .ui-autocomplete-loading {
    background: white url("{{asset('images/loader_64_64.gif')}}") right center no-repeat;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 400px;
    width: 600px;
  }
  </style>
  <script>
  $(function($) {
    $( "#s" ).autocomplete({
      source: 'jsonmedicamentos',
      minLength: 4
    });
  });
  </script>
{% endblock %}