<!-- /.page-top -->
  <section id="top-contact" class="top-contact">
   <div class="container">
    <div class="row">
     <div class="col-sm-8 pull-left">
      <ul class="contact-list">
       <li>
        <a class="site-name" href="{{ path( 'sinam_core_homepage' ) }}">Inicio</a>
       </li>
       <li>
        <a class="site-name" href="http://www.salud.gob.sv/" target="_new">Ministerio de Salud</a>
       </li>
       <li>
        <a class="site-name" href="http://www.salud.gob.sv/category/novedades/noticias/ciudadanosas/" target="_new">Noticias</a>
       </li>
       <li>
        <a class="site-name" href="http://www.salud.gob.sv/denuncias/" target="_new">Denuncias</a>
       </li>
      </ul>
     </div>
     <div class="col-sm-4 pull-right">
      <div class="top-social">
       <ul>
        <li>
         <a href="http://www.facebook.com/salud.sv" class="top-icon fa fa-facebook"></a>
        </li>
        <li>
         <a href="https://www.flickr.com/photos/minsal_sv/" class="top-icon fa fa-flickr"></a>
        </li>
        <li>
         <a href="http://twitter.com/minsalud" class="top-icon fa fa-twitter"></a>
        </li>
        <li>
         <a href="http://www.youtube.com/comunicacionesminsal" class="top-icon fa fa-youtube"></a>
        </li>
        <li>
         <a href="http://publica.gobiernoabierto.gob.sv/institutions/ministerio-de-salud">
          <img src="{{ asset('images/portal-transparencia.png') }}" alt="Site Logo">
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div><!-- /.row -->
   </div><!-- /.container -->
  </section><!-- /#top-contact -->
  
  <section id="site-banner" class="site-banner text-center">
   <div class="container"><a href=""><img src="{{ asset('images/banner_web_wpminsal2015V2.png') }}" alt=""></a><!--
    <div class="site-logo"></div><!-- /.site-logo -->
   </div><!-- /.container -->
  </section><!-- /#site-banner -->
  
  <header id="main-menu" class="main-menu">
   <div class="container">
    <div class="row">
     <div class="col-sm-8">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <i class="fa fa-bars"></i>
       </button>
       <div class="menu-logo">
        <a href="./"><img src="{{ asset('images/banner_web_wpminsal2015V2.png') }}" alt=""></a>
       </div><!-- /.menu-logo -->
      </div>
      <nav id="menu" class="menu collapse navbar-collapse">
       <ul id="headernavigation" class="menu-list nav navbar-nav">
        <li><a href="{{ path( 'sinam_busqueda' ) }}">Medicamentos</a></li>
        <li><a href="{{ path( 'por_establecimiento' ) }}">Establecimientos</a></li>
        <li><a href="{{ path( 'consulta_abastecimiento' ) }}">Abastecimiento</a></li>
        <li><a href="{{ path( 'sinam_core_homepage' ) }}">Ayuda</a></li>
        <li><a href="{{ path( 'sinam_core_homepage' ) }}">Contáctenos</a></li>
       </ul><!-- /.menu-list -->
      </nav><!-- /.menu-list -->
     </div>
     <div class="col-sm-4">
      <div class="menu-search pull-right">
       <form role="search" class="search-form" action="#" method="get">
        <input class="search-field" type="text" name="s" id="s" placeholder="Buscar Medicamento" required>
        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
       </form><!-- /.search-form -->
      </div><!-- /.menu-search -->
     </div>
    </div><!-- /.row -->
   </div><!-- /.container -->
  </header><!-- /#main-menu -->
