      <div id="blog-sidebar" class="blog-sidebar widget-area" role="complementary">
       <div class="sidebar-content">
       
        <aside class="widget">
         <iframe src="https://www.youtube.com/embed/IR1KmbX42ZQ" frameborder="0" allowfullscreen></iframe>
        </aside>

        <aside class="widget widget_categories">
          <h3 class="widget-title">Listados</h3><!-- /.widget-title -->
          <ul class="category-list">
             <li><a href="{{ path( 'info_establecimiento' ) }}" >Establecimientos</a></li>
             <li><a href="https://goo.gl/aMTr8z" >Listado Institucional de Medicamentos</a></li>
          </ul>
        </aside><!-- /.widget -->

        <aside class="widget widget wp_widget_tag_cloud clearfix">
         <h3 class="widget-title">Medicamentos más consultados</h3>
          <div class="tag-cloud-wrapper">
          {% if productos == true %}
            {% for item in productos %}
              <a href="{{ path( 'info_ayuda' ) }}?q={{item.nombre|url_encode}}">{{ item.nombre }}</a>
            {% endfor %}
          {% endif %}
         </div><!-- /.tag-cloud-wrapper -->
        </aside><!-- /.widget -->

        <aside class="widget widget_archive">
         <h3 class="widget-title">Boletin</h3><!-- /.widget-title -->
         <img class="img-responsive" src="{{ asset('images/newsletter-free-clipart.png') }}" alt="">
        </aside><!-- /.widget -->       

       </div><!-- /.sidebar-content -->
      </div><!-- /#sidebar -->

