{% extends 'SinamCoreBundle::default.html.twig' %}
{% block body %}
<div class="col-sm-12">
           <div  id="msg" ></div>
          <div class="service-accordion">
           <div class="accordion">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title">
                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                      Busqueda medicamento
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" aria-expanded="true">
                  <div class="panel-body">
                    <p>
                     <div id="respond">
                      <form class="commentform" method="post">
                          <label class="required" for="basica_departamento">Ingresa el nombre del medicamento a buscar</label><br/>
                          {{ form_widget(form.nombre) }}
                          <button id="establecimiento_save" class="submit-btn pull-right" type="submit">Buscar</button>
                        <br/>
                        <label><input type="checkbox" name="colorCheckbox" value="filtro"> Filtrar búsqueda</label>
                        <div class="filtro box">
                        {{ form_label(form.departamento) }}<br />
                        <select id="basica_departamento" onchange="cargarMun(this.value);" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input">
                              <option value="0">Todos</option>
                            {% for item in depto %}
                              <option value="{{item.id}}">{{item.nombre}}</option>
                            {% endfor %}
                          </select>
                        <br />
                        {{ form_label(form.municipio) }}<br />
                        <select id="basica_municipio" onchange="cargarEsta(this.value);" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input">
                            {% for item in muni %}
                              <option value="{{item.id}}">{{item.nombre}}</option>
                            {% endfor %}
                          </select><br />
                        {{ form_label(form.establecimiento) }}<br />
                        <select id="basica_establecimiento" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input">
                            {% for item in establecimiento %}
                              <option value="{{item.id}}">{{item.nombre}}</option>
                            {% endfor %}
                          </select><br />
                        Numero de establecimientos: 
                          <input type="text" id="limite" readonly style="border:0; color:#f6931f; font-weight:bold;">
                          <div id="slider-range-min"></div><br />
                         <p align="right">
                          <button id="establecimiento_type_save" class="submit-btn" type="submit" >Aplicar filtro</button>
                         </p> 
                        </div>
                     </div>
                     <div class="g-recaptcha" data-sitekey="6LccTyITAAAAALuynzFnB2AqpAxftp07FedqKVUA"></div>
                    </p>
                  </div>
                </div>
              </div>
                      </form>
            </div>
          </div><!-- /.accordion -->      
        </div><!-- /.service-accordion -->
        <div  id="resultado" ></div>
<script type="text/javascript">
    $(document).ready(function ( $ ) {
        $('#establecimiento_save').click(function(){
        var msg = '<div class="alert alert-danger" role="alert"><strong>Recordatorio!</strong> Antes de hacer una consulta debe marcar la casilla reCAPTCHA</div>';
        if($('#g-recaptcha-response').val() == 0){
          $('#msg').html(msg);
          return false;
        }
        if($('#g-recaptcha-response').val() == ''){
          $('#msg').html(msg);
          return false;
        }
        $('#msg').html('');
           $('#resultado').html('');
           $.ajax({
                type: "POST",
                url: "{{ url('ajax_busqueda') }}?tipo=0&nombre=" + $('#basica_nombre').val()+"&max="+$('#limite').val(),
                success: function(data) {
                    // Remove current options
                    $('#resultado').html(data);
                }
            });
            return false;
        });
        $('#establecimiento_type_save').click(function(){
        var msg = '<div class="alert alert-danger" role="alert"><strong>Recordatorio!</strong> Antes de hacer una consulta debe marcar la casilla reCAPTCHA</div>';
        if($('#g-recaptcha-response').val() == 0){
          $('#msg').html(msg);
          return false;
        }
        if($('#g-recaptcha-response').val() == ''){
          $('#msg').html(msg);
          return false;
        }
        $('#msg').html('');
           $('#resultado').html('');
           var val = $('#establecimiento_type_establecimiento').val(), nombre = $('#establecimiento_type_nombre').val();
           $.ajax({
                type: "POST",
                url: "{{ url('ajax_busqueda') }}?tipo=1&nombre=" + $('#basica_nombre').val()+"&depto="+$('#basica_departamento').val()+"&munic="+$('#basica_municipio').val()+"&estab="+$('#basica_establecimiento').val()+"&max="+$('#limite').val(),
                success: function(data) {
                    $('#resultado').html(data);
                }
            });
            return false;
        });
        $('input[type="checkbox"]').click(function(){
        if($(this).attr("value")=="red"){
            $(".red").toggle();
        }
    });
    });
</script>
</div>
{% endblock %}
{% block js_head %}
    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
<style type="text/css">
    .box{
        padding: 20px;
        display: none;
        margin-top: 20px;
        border: 1px solid #000;
    }
</style>
<script type="text/javascript">
jQuery(document).ready(function( $ ) {
    $('input[type="checkbox"]').click(function(){
        if($(this).attr("value")=="filtro"){
            $(".filtro").toggle();
        }
    });
});
</script>
<script type="text/javascript">
  function cargarMun(valor) {
    var arrayValores=new Array( 
      {% for item in muni %}
        new Array({{item.depto}},{{item.id}},"{{item.nombre}}"),
      {% endfor %}
      new Array(-1,1,"") );
    if(valor==0) {
      document.getElementById("basica_municipio").options.length=0;
      document.getElementById("basica_establecimiento").options.length=0;
      document.getElementById("basica_municipio").options[0]=new Option("Todos", "0");
      document.getElementById("basica_establecimiento").options[0]=new Option("Todos", "0");
      document.getElementById("basica_municipio").disabled=true; 
      document.getElementById("basica_establecimiento").disabled=true; 
    }else{
      document.getElementById("basica_municipio").options.length=0;
      document.getElementById("basica_municipio").options[0]=new Option("Todos", "0");
      for(i=0;i<arrayValores.length;i++) {
        if(arrayValores[i][0]==valor) { 
          document.getElementById("basica_municipio").options[document.getElementById("basica_municipio").options.length]=new Option( arrayValores[i][2], arrayValores[i][1]);
        }
      }
      document.getElementById("basica_municipio").disabled=false;
    }
  }
  function cargarEsta(valor) {
    var arrayValores=new Array( 
      {% for item in establecimiento %}
        new Array({{item.idMunicipio}},{{item.id}},"{{item.nombre}}"),
      {% endfor %}
      new Array(-1,1,"") );
    if(valor>0) {
      document.getElementById("basica_establecimiento").options.length=0;
      document.getElementById("basica_establecimiento").options[0]=new Option("Todos", "0");
      for(i=0;i<arrayValores.length;i++) {
        if(arrayValores[i][0]==valor) { 
          document.getElementById("basica_establecimiento").options[document.getElementById("basica_establecimiento").options.length]=new Option(arrayValores[i][2], arrayValores[i][1]);
        } 
      }
      document.getElementById("basica_establecimiento").disabled=false;
    }
  }
</script>
  <script> 
  $(function($) {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 7,
      min: 1,
      max: 25,
      slide: function( event, ui ) {
        $( "#limite" ).val( "" + ui.value );
      }
    });
    $( "#limite" ).val( "" + $( "#slider-range-min" ).slider( "value" ) );
  });
  </script>

    <script>
  $(function($) {
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#basica_nombre" ).autocomplete({
      source: 'jsonmedicamentos',
      minLength: 4,
      highlight: false,
      width: 320,
      scroll: true,
      scrollHeight: 300,
    });
  });
  </script>
{% endblock %}
{% block body_tag %}onload="cargarMun(0)"{% endblock %}