{% extends 'SinamCoreBundle::default.html.twig' %}
{% block body %}
          <div class="service-accordion">
           <div class="accordion">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title">
                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                      Busqueda por establecimiento
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" aria-expanded="true">
                  <div class="panel-body">
                    <span class="service-image"><img alt="" src="{{ asset('images/hospital.png') }}"></span>
                    <p>
                     <div id="respond">
                      <form class="commentform" method="post">
                      {{ form_start(form, {'action': '', 'attr': {'class': ''}}) }}
                        {{ form_label(form.nombre) }}{{ form_errors(form.nombre) }}{{ form_widget(form.nombre) }}<br />
                        {{ form_label(form.departamento) }}{{ form_widget(form.departamento) }}<br />
                        {{ form_label(form.municipio) }}{{ form_widget(form.municipio) }}<br />
                        {{ form_label(form.establecimiento) }}{{ form_widget(form.establecimiento) }}
                        {{ form_widget(form.save) }}
                        <button class="btn search-btn" type="submit" id="establecimiento_type_save"><i class="fa fa-search"></i></button>
                        {{ form_stylesheet(form) }}
                        {{ form_javascript(form) }}
                      </form>
                     </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.accordion -->

        </div><!-- /.service-accordion -->
        <div  id="resultado" ></div>
        
        
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#establecimiento_type_departamento').change(function(){
           var val = $(this).val();
           $.ajax({
                type: "POST",
                url: "{{ url('ajax_busqueda') }}?depto_id=" + val,
                success: function(data) {
                    // Remove current options
                    $('#establecimiento_type_municipio').html('');
                    $.each(data, function(k, v) {
                        $('#establecimiento_type_municipio').append('<option value="' + v + '">' + k + '</option>');
                    });
                }
            });
            return false;
        });
        $('#establecimiento_type_municipio').change(function(){
           var val = $(this).val();
           $.ajax({
                type: "POST",
                url: "{{ url('ajax_busqueda') }}?munic_id=" + val,
                success: function(data) {
                    // Remove current options
                    $('#establecimiento_type_establecimiento').html('');
                    $.each(data, function(k, v) {
                        $('#establecimiento_type_establecimiento').append('<option value="' + v + '">' + k + '</option>');
                    });
                }
            });
            return false;
        });
        $('#establecimiento_type_save').click(function(){
           var val = $('#establecimiento_type_establecimiento').val(), nombre = $('#establecimiento_type_nombre').val();
           $.ajax({
                type: "POST",
                url: "{{ url('ajax_busqueda') }}?establecimiento=" + val + "&nombre=" + nombre,
                success: function(data) {
                    // Remove current options
                    $('#resultado').html(data);
                }
            });
            return false;
        });
        $('#mapa_type_save').click(function(){
           var nombre = $('#mapa_type_nombre').val();
           $.ajax({
                type: "POST",
                url: "{{ url('ajax_busqueda') }}?lat=" + $('#mapa_type_latitud').val() + "&lon=" + $('#mapa_type_longitud').val() + "&nombre=" + nombre,
                success: function(data) {
                    // Remove current options
                    $('#resultado').html(data);
                }
            });
            return false;
        });
    });
</script>
{% endblock %}
{% block js_head %}
  <link rel="stylesheet" href="{{ asset('assets/js/daterangepicker/daterangepicker.css') }}" />
  <script src="{{ asset('assets/js/daterangepicker/jquery-1.11.2.min.js') }}"></script>
  <script src="{{ asset('assets/js/daterangepicker/moment.min.js') }}"></script>
  <script src="{{ asset('assets/js/daterangepicker/jquery.daterangepicker.js') }}"></script>
		<script src="{{ asset('assets/js/daterangepicker/demo.js') }}"></script>
		<style>
		.demo { margin:30px 0;}
		.date-picker-wrapper .month-wrapper table .day.lalala { background-color:orange; }
		.options { display:none; border-left:6px solid #8ae; padding:10px; font-size:12px; line-height:1.4; background-color:#eee; border-radius:4px;}
		.date-picker-wrapper.date-range-picker19 .day.first-date-selected { background-color: red !important; }
		.date-picker-wrapper.date-range-picker19 .day.last-date-selected { background-color: orange !important; }
		</style>
{% endblock %}
{% block body_tag %}onload="init()"{% endblock %}
