{% extends 'SinamCoreBundle::default.html.twig' %}
{% block body %}
<div class="col-sm-9">
           <div  id="msg" ></div>
          <div class="service-accordion">
           <div class="accordion">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title">
                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                      Abastecimiento de medicamento por establecimiento
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" aria-expanded="true">
                  <div class="panel-body">
                    <p>
                     <div id="respond">
                      <form class="commentform" method="post">
                          <label class="required" for="basica_departamento">Ingresa el nombre del medicamento a buscar</label><br/>
                          <input id="basica_nombre" type="text" size="90%" required="required" name="basica[nombre]" data-step="4" data-intro="En este cuadro se puede buscar el medicamento a consultar su abastecimiento.<br>Se presenta una lista de los medicamentos">
                        <br/>
                        {{ form_label(form.departamento) }}<br />
                        <select id="basica_departamento" onchange="cargarMun(this.value);" style="width: 90%;" data-step="6" data-intro="Puede delimitar su busqueda por departamento seleccionado">
                              <option value="0">Todos</option>
                            {% for item in depto %}
                              <option value="{{item.id}}">{{item.nombre}}</option>
                            {% endfor %}
                          </select>
                        <br />
                        {{ form_label(form.municipio) }}<br />
                        <select id="basica_municipio" onchange="cargarEsta(this.value);" style="width: 90%;" data-step="7" data-intro="Puede delimitar su busqueda por municipio seleccionado">
                            {% for item in muni %}
                              <option value="{{item.id}}">{{item.nombre}}</option>
                            {% endfor %}
                          </select><br />
                        {{ form_label(form.establecimiento) }}<br />
                        <select id="basica_establecimiento" style="width: 90%;"data-step="8" data-intro="Puede delimitar su busqueda un solo establecimiento">
                            {% for item in all %}
                              <option value="{{item.id}}">{{item.establecimiento}}</option>
                            {% endfor %}
                          </select><br />
                        Numero de establecimientos (Aplica solo a consultas de abastecimiento por departamento o municipio): 
                          <input type="text" id="limite" readonly style="border:0; color:#f6931f; font-weight:bold;">
                          <div id="slider-range-min"></div><br />
                     <div class="row">
                       <div class="col-md-6">
                        <div class="g-recaptcha" data-sitekey="6LccTyITAAAAALuynzFnB2AqpAxftp07FedqKVUA" data-step="3" data-intro="Antes de hacer una consulta debe dar clic en la cacilla de verificacion"></div>
                       </div>
                       <div class="col-md-6">
                        <button id="establecimiento_save" class="submit-btn pull-right" type="submit" data-step="5" data-intro="Al dar clic se realiza una busqueda a nivel nacional">Buscar</button>
                       </div>
                     </div>
                     </div>
                    </p>
                  </div>
                </div>
              </div>
                      </form>
            </div>
          </div><!-- /.accordion -->      
        </div><!-- /.service-accordion -->
        <div id="resultado" data-step="9" data-intro="En esta seccion se presentan los resultados de la consulta realizada, <br/>Obtendra una salida con el detalle de las existencias en almacen, en la farmacia y el consumo atravez de los años"></div>
<script type="text/javascript">
    $(document).ready(function ( $ ) {
        $('#establecimiento_save').click(function(){
        var msg = '<div class="alert alert-danger" role="alert"><strong>Recordatorio!</strong> Antes de hacer una consulta debe marcar la casilla reCAPTCHA</div>';
        if($('#g-recaptcha-response').val() == 0){
          $('#msg').html(msg);
          document.getElementById('top-contact').scrollIntoView();
          return false;
        }
        if($('#g-recaptcha-response').val() == ''){
          $('#msg').html(msg);
          document.getElementById('top-contact').scrollIntoView();
          return false;
        }
        $('#msg').html('');
           $('#resultado').html('');
           $.ajax({
                type: "POST",
                url: "{{ url('consulta_abastecimiento') }}?tipo=0&nombre=" + $('#basica_nombre').val()+"&depto="+$('#basica_departamento').val()+"&munic="+$('#basica_municipio').val()+"&estab="+$('#basica_establecimiento').val()+"&max="+$('#limite').val(),
                success: function(data) {
                    // Remove current options
                    $('#resultado').html(data);
                    document.getElementById('resultado').scrollIntoView();
                }
            });
            return false;
        });
        $('input[type="checkbox"]').click(function(){
        if($(this).attr("value")=="red"){
            $(".red").toggle();
        }
    });
    });
</script>
</div>
<div class="col-sm-3">
  {% include 'SinamCoreBundle::Consulta/infoConsulta.html.twig' %}
</div>
{% endblock %}
{% block js_head %}
    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
<style type="text/css">
    .box{
        padding: 20px;
        display: none;
        margin-top: 20px;
        border: 1px solid #000;
    }
</style>
<script type="text/javascript">
jQuery(document).ready(function( $ ) {
    $('input[type="checkbox"]').click(function(){
        if($(this).attr("value")=="filtro"){
            $(".filtro").toggle();
        }
    });
});
</script>
<script type="text/javascript">
  function cargarMun(valor) {
    var arrayValores=new Array( 
      {% for item in muni %}
        new Array({{item.depto}},{{item.id}},"{{item.nombre}}"),
      {% endfor %}
      new Array(-1,1,"") );
    if(valor==0) {
      document.getElementById("basica_municipio").options.length=0;
      document.getElementById("basica_establecimiento").options.length=0;
      document.getElementById("basica_municipio").options[0]=new Option("Todos", "0");
      document.getElementById("basica_establecimiento").options[0]=new Option("Todos", "0");
      document.getElementById("basica_municipio").disabled=true; 
      document.getElementById("basica_establecimiento").disabled=true; 
    }else{
      document.getElementById("basica_municipio").options.length=0;
      document.getElementById("basica_municipio").options[0]=new Option("Todos", "0");
      for(i=0;i<arrayValores.length;i++) {
        if(arrayValores[i][0]==valor) { 
          document.getElementById("basica_municipio").options[document.getElementById("basica_municipio").options.length]=new Option( arrayValores[i][2], arrayValores[i][1]);
        }
      }
      document.getElementById("basica_municipio").disabled=false;
    }
  }
  function cargarEsta(valor) {
    var arrayValores=new Array( 
      {% for item in all %}
        new Array({{item.idMunicipio}},{{item.id}},"{{item.establecimiento}}"),
      {% endfor %}
      new Array(-1,1,"") );
    if(valor>0) {
      document.getElementById("basica_establecimiento").options.length=0;
      document.getElementById("basica_establecimiento").options[0]=new Option("Todos", "0");
      for(i=0;i<arrayValores.length;i++) {
        if(arrayValores[i][0]==valor) { 
          document.getElementById("basica_establecimiento").options[document.getElementById("basica_establecimiento").options.length]=new Option(arrayValores[i][2], arrayValores[i][1]);
        } 
      }
      document.getElementById("basica_establecimiento").disabled=false;
    }
  }
</script>
  <script> 
  $(function($) {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 7,
      min: 1,
      max: 25,
      slide: function( event, ui ) {
        $( "#limite" ).val( "" + ui.value );
      }
    });
    $( "#limite" ).val( "" + $( "#slider-range-min" ).slider( "value" ) );
  });
  </script>

    <script>
  $(function($) {
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#basica_nombre" ).autocomplete({
      source: 'jsonmedicamentos',
      minLength: 4,
      highlight: false,
      scroll: true,
      scrollHeight: 300
    });
  });
  </script>
  <link href="{{ asset('assets/ayuda/introjs.css') }}" rel="stylesheet">
{% endblock %}
{% block body_tag %}onload="cargarMun(0)"{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('assets/ayuda/intro.js') }}"></script>
  <link rel="stylesheet" href="{{ asset('assets/js/morris.js-0.5.1/morris.css') }}">
  <script type="text/javascript" src="{{ asset('assets/js/raphael-min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/js/morris.js-0.5.1/morris.js') }}"></script>
{% endblock %}