{% extends 'SinamCoreBundle::default.html.twig' %}
{% block body %}
<div class="col-sm-12">
          <div class="service-accordion">
           <div class="accordion">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title">
                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                      Busqueda medicamento
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" aria-expanded="true">
                  <div class="panel-body">
                    <p>
                     <div id="respond">
                      <form class="commentform" method="post">
                        
                          Digite el nombre del medicamento
                          <div class="ui-widget"><select id="basica_nombre" style="width: 90%" >
                            <option value="">Ingrese el medicamento</option>
                            {% for item in todos %}
                              <option value="{{item.idpro}}">{{item.nombre}}</option>
                            {% endfor %}
                          </select></div>
                          <button id="establecimiento_save" class="submit-btn" type="submit">Buscar</button>
                        
                        <label><input type="checkbox" name="colorCheckbox" value="filtro"> Filtrar búsqueda</label>
                        <div class="filtro box">
                        {{ form_label(form.departamento) }}<br />{{ form_widget(form.departamento) }}<br />
                        {{ form_label(form.municipio) }}<br />{{ form_widget(form.municipio) }}<br />
                        {{ form_label(form.establecimiento) }}<br />{{ form_widget(form.establecimiento) }}<br />
                         <p align="right">
                          <button id="establecimiento_type_save" class="submit-btn" type="submit" >Aplicar filtro</button>
                         </p> 
                        </div>
                      </form>
                     </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>    
        </div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#establecimiento_save').click(function(){
           $('#resultado').html('');
           $.ajax({
                type: "POST",
                url: "{{ url('ajax_busqueda') }}?tipo=0&nombre=" + $('#basica_nombre').val(),
                success: function(data) {
                    // Remove current options
                    $('#resultado').html(data);
                }
            });
            return false;
        });
        $('#establecimiento_type_save').click(function(){
           $('#resultado').html('');
           var val = $('#establecimiento_type_establecimiento').val(), nombre = $('#establecimiento_type_nombre').val();
           $.ajax({
                type: "POST",
                url: "{{ url('ajax_busqueda') }}?tipo=1&nombre=" + $('#basica_nombre').val()+"&depto="+$('#basica_departamento').val()+"&munic="+$('#basica_municipio').val()+"&estab="+$('#basica_establecimiento').val(),
                success: function(data) {
                    $('#resultado').html(data);
                }
            });
            return false;
        });
        $('input[type="checkbox"]').click(function(){
        if($(this).attr("value")=="red"){
            $(".red").toggle();
        }
    });
    });
</script>
</div>
<div id="resMap" class="col-sm-4"></div>
<div  id="Map" class="col-sm-8"></div>
<div  id="resultado" class="col-sm-12"></div>
{% endblock %}
{% block js_head %}
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui-bootstrap-master/jquery.ui.theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui/jquery-ui.css') }}">
    <script src="{{ asset('assets/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ asset('assets/css/jquery-ui/jquery-ui.js') }}"></script>
<style type="text/css">
    .box{
        padding: 20px;
        display: none;
        margin-top: 20px;
        border: 1px solid #000;
    }
</style>
<script type="text/javascript">
jQuery(document).ready(function( $ ) {
    $('input[type="checkbox"]').click(function(){
        if($(this).attr("value")=="filtro"){
            $(".filtro").toggle();
        }
    });
});
</script>
<script type="text/javascript">
  function cargarMun(valor) {
    var arrayValores=new Array( 
      {% for item in muni %}
        new Array({{item.depto}},{{item.id}},"{{item.nombre}}"),
      {% endfor %}
      new Array(-1,1,"") );
    if(valor==0) {
      document.getElementById("basica_municipio").options.length=0;
      document.getElementById("basica_establecimiento").options.length=0;
      document.getElementById("basica_municipio").disabled=true; 
      document.getElementById("basica_establecimiento").disabled=true; 
    }else{
      document.getElementById("basica_municipio").options.length=0;
      document.getElementById("basica_municipio").options[0]=new Option("Selecciona un municipio", "0");
      for(i=0;i<arrayValores.length;i++) {
        if(arrayValores[i][0]==valor) { 
          document.getElementById("basica_municipio").options[document.getElementById("basica_municipio").options.length]=new Option( arrayValores[i][2], arrayValores[i][1]);
        }
      }
      document.getElementById("basica_municipio").disabled=false;
    }
  }
  function cargarEsta(valor) {
    var arrayValores=new Array( 
      {% for item in establecimiento %}
        new Array({{item.idMunicipio}},{{item.id}},"{{item.nombre}}"),
      {% endfor %}
      new Array(-1,1,"") );
    if(valor>0) {
      document.getElementById("basica_establecimiento").options.length=0;
      document.getElementById("basica_establecimiento").options[0]=new Option("Selecciona un establecimiento", "0");
      for(i=0;i<arrayValores.length;i++) {
        if(arrayValores[i][0]==valor) { 
          document.getElementById("basica_establecimiento").options[document.getElementById("basica_establecimiento").options.length]=new Option(arrayValores[i][2], arrayValores[i][1]);
        } 
      }
      document.getElementById("basica_establecimiento").disabled=false;
    }
  }
</script>
<style>
  .custom-combobox {
    width: 80%;
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
</style>
  <script>  (function( $ ) {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            tooltipClass: "ui-state-highlight"
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .mousedown(function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .click(function() {
            input.focus();
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
 
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
  })( jQuery );
 
  $(function($) {
    $( "#basica_nombre" ).combobox();
    $( "#toggle" ).click(function() {
      $( "#basica_nombre" ).toggle();
    });
    $( "#basica_departamento" ).combobox();
    $( "#toggle" ).click(function() {
      $( "#basica_nombre" ).toggle();
    });
    $( "#basica_municipio" ).combobox();
    $( "#toggle" ).click(function() {
      $( "#basica_departamento" ).toggle();
    });
    $( "#basica_establecimiento" ).combobox();
    $( "#toggle" ).click(function() {
      $( "#basica_establecimiento" ).toggle();
    });
  });
  </script>
{% endblock %}
{% block body_tag %}onload="cargarMun(0)"{% endblock %}