{% if rest == true %}
<div id="resMap" class="col-sm-4">
  <div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Establecimientos</h2></div>
      <div class="panel-body">
        {% for item in rest %}
          <p><b>{{ item.formafarmaceutica }}</b></p>
          <p><a href="#{{item.estadoproducto}}"><span class="label label-success pull-left">Ver detalle</span></a> - <a target="_blank" href="http://maps.google.com/maps/?saddr={{lat}},{{lng}}&daddr={{item.idunidadmedida}},{{item.clasificacion}}"><span class="label label-info pull-right">¿como llegar?</span></a></p>
          <hr/>
        {% endfor %}
      </div>
    </div>
</div>
<div  id="Map" class="col-sm-8" style="height: 500px;overflow-y:scroll;"></div>
<div  id="resultado" class="col-sm-12"></div>

<div id="Map" class="olMap" style="; height: 500px; margin: 0;"></div>
<script src="{{ asset('assets/js/OpenLayers-2.13.1/OpenLayers.js') }}"></script>
<script>
    var lat            = 13.697911;
    var lon            = -89.218846;
    var zoom           = 8;
    var icoPng       = 'http://190.86.209.141/wp-content/plugins/biblioteca/view/img/icoMap.png';
    
    map = new OpenLayers.Map("Map");
    map.addLayer(new OpenLayers.Layer.OSM());
    
    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
   
    var lonLat = new OpenLayers.LonLat( lon ,lat ).transform(epsg4326, projectTo);
    map.setCenter (lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    
    // Define markers as "features" of the vector layer:
    {% for item in rest %}
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{item.clasificacion}},{{item.idunidadmedida}} ).transform(epsg4326, projectTo),
            {description:'{{ item.formafarmaceutica }}'} ,
            {externalGraphic: icoPng, graphicHeight: 30, graphicWidth: 28, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);
    {% endfor %}
   
    map.addLayer(vectorLayer);
 
    
    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<b>'+feature.attributes.description+'</b>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();
      
  </script>

{% endif %}
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="col-sm-12">
 <section id="services" class="services">
 <div id="comments" class="comments">
  <div class="comments-area">
   {% set max = 100 %}
   {% set id = 0 %}
   {% if rest == true %}
    {% set med = 0 %}
    {% for item in rest %}
    {% set id = id + 1 %}
    {% if med == 0 %}
      <h3 class="comment-title">{{ item.nombre }}</h3>
      <p>Descripción: {{ item.observacion}}<br/>
      Presentación: {{ item.presentacion}}</p>
      {% set med = 1 %}
    {% endif %}
    {% if id < max %}
      <div class="comments-details">
        <ul class="comment-list">
         <li class="parent">
          <article class="comment">
           <div class="comment-author"></div>
            <div class="comment-content">
            <h4 id="{{item.estadoproducto}}" class="author-name pull-left">Establecimiento: {{ item.formafarmaceutica }} <br/>
            {% if item.idunidadmedida != 0 %}
              <a target="_blank" href="whatsapp://send?data-text=Instrucciones para llegar a : <a></a>" data-href"minsal"><span class="label label-success pull-right">Enviar por whatsapp</span></a> <a target="_blank" href="http://maps.google.com/maps/?saddr={{lat}},{{lng}}&daddr={{item.idunidadmedida}},{{item.clasificacion}}"><span class="label label-info pull-right">¿como llegar?</span></a> <a target="_blank" href="//waze.to/?q={{item.idunidadmedida}},{{item.clasificacion}}"><span class="label label-warning pull-right">ver en waze</span></a>
            {% endif %}</h4>
            <p>Municipio: {{ item.codigo }}, Departamento: {{ item.idpro }}<br/>
            <b>Existencias: {{ item.idtipoproducto }} [Almacén: {{ item.concentracion }}]</b>
            </p>
            {% for s in siap %}
              {% if s.id == item.estadoproducto %}
                <p><b>Farmacia: {{ s.farmacia }}</b><br/>Existencias: {{ s.existencia|number_format(0, '.', ',') }} {{ s.unidad }}</p>
              {% endif %}
            {% endfor %}
          </div>
          </article>
         </li>
        </ul>
      </div>
    {% endif %}
    {% endfor %}
   {% else %}<div class="item">
      <div class="row">
      <p align="center">
        <div class="alert alert-warning" role="alert"><strong>Aviso!</strong> No encontramos un lugar de referencia con ese nombre<br />
       Se recomienda hacer nombrar el lugar como:  "lugar, departamento"</div>
      </div>
     </div>
   {% endif %}
   </div>
  </div>
 </section>
 <div  id="Mapa" class="col-sm-12"></div>
</div>