{% extends 'SinamCoreBundle::default.html.twig' %}
{% block body %}
<div id = "formG" class="col-sm-12">
  <div  id="msg" ></div>
  <div class="service-accordion">
           <div class="accordion">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title">
                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                      Vista grafica estadisticas de medicamento a nivel nacional.
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" aria-expanded="true">
                  <div class="panel-body">
                   <div id="respond">
                    {{ form_start(form, {'attr': {'class': 'commentform'}}) }}
                      {{ form_errors(form) }}
                      {{ form_label(form.nombre) }}{{ form_widget(form.nombre) }}{{ form_widget(form.save) }}<br/>
                      {{ form_label(form.departamento) }}{{ form_widget(form.departamento) }}<br/>
                      {{ form_label(form.municipio) }}{{ form_widget(form.municipio) }}<br/>
                      {{ form_label(form.establecimiento) }}{{ form_widget(form.establecimiento) }}
                    {{ form_end(form) }}
                   </div>
                  </div>
                </div>
              </div>
            </div>
  </div><!-- /.accordion -->      
</div><!-- /.service-accordion -->
</div>
</div>
{% endblock %}
{% block js_head %}
<script type="text/javascript">
  function cargarMun(valor) {
    var arrayValores=new Array(
      {% for item in all %}
        new Array({{item.idDepartamento}},{{item.idMunicipio}},"{{item.municipio}}"),
      {% endfor %}
      new Array(-1,1,"") );
    if(valor==0) {
      document.getElementById("historial_municipio").options.length=0;
      document.getElementById("historial_establecimiento").options.length=0;
      document.getElementById("historial_municipio").disabled=true; 
      document.getElementById("historial_establecimiento").disabled=true; 
    }else{
      document.getElementById("historial_municipio").options.length=0;
      for(i=0;i<arrayValores.length;i++) {
        if(arrayValores[i][0]==valor) { 
          document.getElementById("historial_municipio").options[document.getElementById("historial_municipio").options.length]=new Option( arrayValores[i][2], arrayValores[i][1]);
        }
      }
      document.getElementById("historial_municipio").disabled=false;
    }
  }
  function cargarEsta(valor) {
    var arrayValores=new Array( 
      {% for item in all %}
        new Array({{item.idMunicipio}},{{item.id}},"{{item.establecimiento}}"),
      {% endfor %}
      new Array(-1,1,"") );
    if(valor>0) {
      document.getElementById("historial_establecimiento").options.length=0;
      for(i=0;i<arrayValores.length;i++) {
        if(arrayValores[i][0]==valor) { 
          document.getElementById("historial_establecimiento").options[document.getElementById("historial_establecimiento").options.length]=new Option(arrayValores[i][2], arrayValores[i][1]);
        } 
      }
      document.getElementById("historial_establecimiento").disabled=false;
    }
  }
</script>
    <script>
  $(function($) {
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#historial_nombre" ).autocomplete({
      source: 'jsonmedicamentos',
      minLength: 4,
      highlight: false,
      width: 320,
      scroll: true,
      scrollHeight: 300
    });
  });
  </script>
{% endblock %}
{% block body_tag %}onload="cargarMun(0)"{% endblock %}
{% block javascripts %}
{% endblock %}